body {
    background: #3a3333; 
    font-family: 'Bungee Inline', cursive;
    overflow-x: hidden;
    -webkit-font-smoothing: 
    antialiased; margin: 0;
}
.navbar {
    background: #111;
}
.secTitle {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-bottom: 5px solid rgba(255,255,255,.5);
}
.secTitle h2 {
    color: rgba(255,255,255,.5);
}
#about p {
    color: #3a6086;
}
#about .secTitle {
    margin-top: 8vh;
    margin-bottom: 10vh;
}
footer {
    background: #111;
    color: rgba(255,255,255,.5);
    height: 56px;
    align-content: center;
    margin-top: 10vh;
}