body {
    background: #3a3333; 
    font-family: 'Bungee Inline', cursive;
    overflow-x: hidden;
    -webkit-font-smoothing: 
    antialiased; margin: 0;
}
.navbar {
    background: #111;
}
.secTitle {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-bottom: 5px solid rgba(255,255,255,.5);
}
.secTitle h2 {
    color: rgba(255,255,255,.5);
}
#about p {
    color: #3a6086;
}
#about .secTitle {
    margin-top: 8vh;
    margin-bottom: 10vh;
}
footer {
    background: #111;
    color: rgba(255,255,255,.5);
    height: 56px;
    align-content: center;
    margin-top: 10vh;
}
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #fed136;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}
footer a {
    color:inherit;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    #keyboardContainer {
        display: none;
    }
    #contactContainer {
        flex: 0 0 100%;
        max-width: 100%;
    }
}